@font-face{
  font-family: encodeBold;
  src:url(./assets/fonts/encode/EncodeSans-Bold.ttf);
}

@font-face{
  font-family: encode;
  src:url(./assets/fonts/encode/EncodeSans-SemiBold.ttf);
}

:host {
  background-color:#014651!important;
  width:1920px;
  height:1080px;
  margin:0 auto;
  padding:24px;
  background:white;
  font-family:monospace;
  color:black;
  overflow:hidden;
}

:host > h1 {
  font-size:46px;
}



